
{% extends "layout.html" %}

{% block title %}main page{% endblock %}

{% block content %}
<div class='hdr'>
{% if session.user_id %}
Welcome user {{ username }}!! &nbsp &nbsp | <a href="/filterown">Show my reviews</a>

{% if session.is_admin %}
<br>
Admin accesses activated.
{% endif %}
<hr>

{% if searched %}
<a href="/new_entry">Add badpress</a> | <a href="/logout">Logout</a> | <a href="/">Show all badpress</a>
{% else %}
<a href="/new_entry">Add badpress</a> | <a href="/logout">Logout</a> | <a href="/search">Search for a company</a>
{% endif %}
{% else %}
<a href="/login">Login</a> | <a href="/register">Register</a>
<br>Please login to give badpress or likes.
{% endif %}
</div>

<div class='sis'>
{% if searched %} 
Currently there are  {{ count }} badpress posts matching the filtered content 
<br>
<a href="/">Show all badpress</a>
{% else %}
Currently there are  {{ count }} badpress posts.
{% endif %}
</div>
<hr width="98%"></hr>

{% for post in posts %}
<div class='posti'>
{% if session.is_admin %}
<i>ID:</i> {{ post.id }} &nbsp &nbsp <i>visible:</i> {{ post.visible }}  &nbsp &nbsp <a href="/togglevisibility/{{ post.id }}">Toggle Visibility</a><br>
{% endif %}
<i>posted:</i> {{ post.posted_at.strftime("%Y-%m-%d") }} &nbsp &nbsp <i>company:</i> <a href="/results?query={{ post.companyname }}">{{ post.companyname }}</a>
<br>
<i>badpress:</i> {{ post.content }}
<br>
<i>alikes:</i> {{ post.likes }} {% if session.user_id %} <a href="/addlike/{{ post.id }}">Add like</a>{% endif %} &nbsp &nbsp <i>dislikes:</i> {{ post.nonlikes }} {% if session.user_id %}<a href="/dislike/{{ post.id }}">Dislike</a>  {% endif %}
</div>
<viiva>
<hr width="98%"></hr>
</viiva>


{% endfor %}

{% endblock %}
