{% extends "layout.html" %}
{% block title %}Main page{% endblock %}

{% block content %}

{% if session.user_id %}
Welcome user {{ username[0] }}!! &nbsp &nbsp | <a href="/filterown">Filter my reviews</a>

{% if session.is_admin %}
<br>
Admin accesses activated.
{% endif %}
<hr>

{% if searched %}
<a href="/new_entry">Add badpress</a> | <a href="/logout">Logout</a> | <a href="/">Show all badpress</a>
{% else %}
<a href="/new_entry">Add badpress</a> | <a href="/logout">Logout</a> | <a href="/search">Search for a company</a>
{% endif %}
{% else %}
<a href="/login">Login</a> | <a href="/register">Register</a>
<br>Please login to give badpress or likes.
{% endif %}
<hr>
<br>
{% if searched %}
Currently there are  {{ count }} badpress posts matching the search filter 
{% else %}
Currently there are  {{ count }} badpress posts.
{% endif %}
<hr>
{% for post in posts %}
{% if session.is_admin %}
<i>ID:</i> {{ post.id }} &nbsp &nbsp <i>visible:</i> {{ post.visible }}  &nbsp &nbsp <a href="/togglevisibility/{{ post.id }}">Toggle Visibility</a>
<p>
{% endif %}
<i>posted:</i> {{ post.posted_at.strftime("%Y-%m-%d") }} &nbsp &nbsp <i>company:</i> <a href="http://www.google.com/search?q={{ post.companyname }}">{{ post.companyname }}</a>
<p>
<i>badpress:</i> {{ post.content }}
<p>
<i>alikes:</i> {{ post.likes }} {% if session.user_id %} <a href="/addlike/{{ post.id }}">Add like</a> &nbsp &nbsp <a href="/dislike/{{ post.id }}">Dislike</a>  {% endif %}

<hr>
{% endfor %}

{% endblock %}
