{% extends "layout.html" %}
{% block title %}new badpress{% endblock %}
{% block content %}

<form action="/send" method="post" onsubmit="return check(this)">
<br>
Company: 
<br>
<textarea name="company" rows="1" cols="50"></textarea><br>
Give badpress:
<br>
<textarea name="content" rows="10" cols="50"></textarea>
<br>
<input type="submit" value="Submit">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
check = (form) => {
    if (form.company.value == "") {
        alert("Please enter company name")
        return false
    }
    if (form.content.value == "") {
        alert("Please enter the badpress")
        return false
    }
    if (form.content.value.length > 5000) {
        alert("Too long badpress, please use less than 1000 characters")
        return false
    }
    return true
}
</script>

<br><br>
<hr>
<a href="/">Main Page</a>

{% endblock %}