{% extends "layout.html" %}
{% block title %}Register new user{% endblock %}
{% block content %}
<h2>Register new user</h2>
<form action="/register" method="post" onsubmit="return check(this)">
Username: <input type="text" name="username">
<p>
Password: <input type="password" name="password1">
<p>
Re-enter Password: <input type="password" name="password2">
<p>
<input type="submit" value="create user">
</form>

<script>
check = (form) => {
    if (form.username.value == "" || form.password1.value == "" || form.password2.value == "") {
        alert("Some of the fields are empty")
        return false
    }
    if (form.username.value.length > 31) {
        alert("Username too long, pleaee use less than 32 characters")
        return false
    }
    if (form.password1.value.length > 63 || form.password2.value.length > 63) {
        alert("Password too long, please use less than 64 characters")
        return false
    }
    if (!form.password1.value.equals(form.password2.value)) {
        alert("Passwords do not match")
        return false
    }
    return true
}
</script>

<br><br>
<hr>
<a href="/">Main Page</a>

{% endblock %}